.container {
  background: var(--tertiary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 76px;
  opacity: 0.75;
  outline: none;
  padding: 4px;
  transition: filter 200ms ease;
  width: 76px;

  &:hover {
    filter: brightness(1.1);
  }

  &:focus {
    box-shadow:
      0 0 0 2px var(--quaternary-color),
      0 0 0 4px var(--primary-color)
    ;
  }

  &:focus:hover {
    filter: none;
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
}
