$primary-color-light: #02546411;

.container {
  background-image: radial-gradient(var(--primary-color-light) 1px,transparent 0),radial-gradient(var(--primary-color-light) 1px,var(--tertiary-color) 0);
  background-size: 40px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 76px;
  opacity: 0.75;
  padding: 4px;
  transition: filter 200ms ease;
  width: 76px;

  &:hover {
    filter: brightness(1.1);
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
}
