$primary-color-light: #02546411;

.container {
  background-image:
    repeating-linear-gradient(
      -45deg,
      #ffffff 0px,
      #ffffff 3px,
      $primary-color-light 3px,
      $primary-color-light 6px
    )
  ;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 76px;
  opacity: 0.75;
  padding: 4px;
  transition: filter 200ms ease;
  width: 76px;

  &:hover {
    filter: brightness(1.1);
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
}
