$primary-color-light: #02546411;

.container {
  background-color: var(--quaternary-color);
  background-image:
    repeating-linear-gradient(
      -45deg,
      var(--quaternary-color) 0px,
      var(--quaternary-color) 20px,
      $primary-color-light 20px,
      $primary-color-light 40px
    )
  ;
  border: 16px solid var(--quaternary-color);
  border-radius: 4px;
  margin: 0 auto 32px;
  max-height: 100%;
  max-width: min(80vw, 1200px);
  min-height: 60vh;
  width: 100%;
}
