.container {
  background-color: var(--quaternary-color);
  margin-top: 16px;
  max-width: 100vw;
  width: 100%;
}

.inner-wrapper {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 1200px;
  padding: 8px 0;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

.highlight {
  color: var(--tertiary-color);
}
