.container {
  align-items: center;
  background-color: var(--quaternary-color);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0 4rem;
  padding: 8px;
  width: fit-content;
}
