.container {
  display: flex;
  position: relative;
  
  &::after {
    background-image: url('../../assets/bg.png');
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.3;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.canvas {
  align-items: center;
  border: 2px dashed var(--primary-color);
  display: flex;
  justify-content: center;
  max-height: 50vh;
  z-index: 1;
}
