.container {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 16px 32px;
  position: absolute;
  width: fit-content;
}
