:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #025464;
  --secondary-color: #e57c23;
  --tertiary-color: #fefefe;
  --quaternary-color: #7ba8b1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-color-light: #02546422;
  background-image: radial-gradient(var(--primary-color-light) 1px,transparent 0),radial-gradient(var(--primary-color-light) 1px,var(--tertiary-color) 0);
  background-size: 40px 40px;
}

.with-box-s {
  box-shadow: 0 1px 4px #00000040;
}
